<div class="container" *ngIf="allowPermissions === false">
  <mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail"
          #emailInput="ngModel"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          name="password"
          ngModel
          matInput
          placeholder="Password"
          #passwordInput="ngModel"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
    <br />
    <small
      >In order to access the system services, send an email to
      ofektal570@gmail.com</small
    >
  </mat-card>
</div>

<div *ngIf="allowPermissions === true">
  <app-product-add></app-product-add>
</div>
