img {
  height: 300px;
  width: 100%;
}

mat-icon {
  width: 5px;
  font-size: 20px;
  position: absolute;
}

small {
  width: 20px;
}

.title {
  font-size: 13px;
  font-weight: bold;
}
.align-right {
  text-align: right;
}

.opacity {
  opacity: 0;
}

#down-arrow {
  color: green;
}

#up-arrow {
  color: red;
}
