<mat-toolbar color="primary">
  <span>
    <a routerLink href="/">Supermarket-Store</a>
  </span>
  <span class="material-icons">shopping_cart</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/store">Store</a>
    </li>

    <li>
      <a mat-button [matMenuTriggerFor]="menu">History</a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item class="black" routerLink="/history/orders"
          >Orders</a
        >
        <a mat-menu-item class="black" routerLink="/history/prices">Prices</a>
      </mat-menu>
    </li>
    <li>
      <a mat-button routerLink="/system">System</a>
    </li>
  </ul>
</mat-toolbar>
