<!-- <h3 class="card-text">{{ productItem.name }}</h3>
<img
  class="bd-placeholder-img card-img-top p-2"
  [src]="productItem.image_url"
/>
<br />
<div class="card-body">
  <p class="card-text">
    <strong>{{ productItem.currPrice | currency: "USD" }}</strong>
    <small *ngIf="productItem.currPrice - productItem.prevPrice !== 0 && productItem.prevPrice !== 0">
      {{ calcChangePriceInPercent() }}%
      <mat-icon id="up-arrow" *ngIf="arrowDirection === 'up'" >arrow_upward</mat-icon>
      <mat-icon id="down-arrow" *ngIf="arrowDirection === 'down'">arrow_downward</mat-icon>
    </small>
  </p>
  <p class="card-text">Amount : {{ productItem.amount }}</p>
</div> -->

  <div class="d-flex justify-content-between p-3">
    <p class="lead mb-0 title" *ngIf="productItem.prevPrice !== 0">
      Change from the last price:
    </p>
    <p class="lead mb-0 title" *ngIf="productItem.prevPrice === 0">
      There isn't a change in the price yet
    </p>

    <small
      *ngIf="
        productItem.currPrice - productItem.prevPrice !== 0 && productItem.prevPrice !== 0
      "
    >
      {{ calcChangePriceInPercent() }}%
      <mat-icon id="up-arrow" *ngIf="arrowDirection === 'up'">arrow_upward</mat-icon>
      <mat-icon id="down-arrow" *ngIf="arrowDirection === 'down'"
        >arrow_downward</mat-icon
      >
    </small>
  </div>
  <img [src]="productItem.image_url" class="card-img-top" [alt]="productItem.name" />
  <div class="card-body">
    <div class="d-flex justify-content-between mb-3">
      <h5 class="mb-0 text-uppercase">{{ productItem.name }}</h5>
      <h5 class="text-dark mb-0">{{ productItem.currPrice | currency: "USD" }}</h5>
    </div>

    <div class="justify-content-between mb-2 align-right">
      <p class="small text-danger">
        <s [ngClass]="arrowDirection === 'up' ? 'opacity' : 'none'">
          {{ productItem.prevPrice | currency: "USD" }}
        </s>
      </p>
    </div>

    <p class="text-muted mb-0">
      Available: <span class="fw-bold"> {{ productItem.amount }}</span>
    </p>
  </div>
